:root {
    --fs-heading : 36px;
    --fs-sub-heading : 24px;
    --fs-normal : 18px;
    --main-background-color : 
    --sub-main-background-color1 :;
    --sub-main-background-color2 :;
    --button-color : #ff1e00;
}

* {
    padding : 0px;
    margin : 0px;
    box-sizing: border-box;
    /* outline : 2px solid red; */
}
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 60px auto / 2fr 5fr;
}
h1 {
    grid-area: 1/2/2/3;
    font-size: var(--fs-heading);
    justify-self: start;
    align-self: center;
    background-color: var(--sub-main-background-color1);
}

form {
    grid-area: 1/1/3/2;
    background-color: var(, #fff);
    display: flex;
    flex-direction: column;
    gap : 2em;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
}
form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 2px;
}
form > div > label {
    font-size: var(--fs-sub-heading);
}
form > #readOrNot {
    flex-direction : row;
}
form > #readOrNot input{
    width: 2em;
}
form > div > input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}
input:hover,
input:focus,
button:hover,
button:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}
#add_new , #display-book {
    background-color: var(--button-color);
    color: #F3F3F3;
    width : 8em;
    outline: transparent;
    font-size: var(--fs-sub-heading);
}

.card-holder {
    grid-area: 2/2/3/3;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap : 1em;
    padding: 3em;
    padding-left: 1em;
}
.card {
    background-color: #88ff84;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    padding : 1em;
    position: relative;
}
#display-book {
    position : absolute;
    top : 90%;
    right : 5%;
}
.deleteButton {
    position: absolute;
    top : 90%;
    right : 10%;
}